#count-div{
    border-radius: 15px;
}
#bg-info{
    background-color:darkseagreen;
}
#div-hight{
    height: 464px;
    width:322px;
}
.color-change{
    color:firebrick;
}
.myColor{
  color:darkorange;
}